.mapStyle{
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.textCenter{
  text-align:center;
}
.overlay-container{
	font-family: Verdana,Geneva,sans-serif; ;
	background-color: rgba(85, 85, 85, 0.8);
	width: 150px;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 2px 0;
	position: absolute;
	z-index: 1000;
	bottom: 100%;
	left: 50%;
	margin-left: -75px;
	margin-bottom: 10px;
}

.overlay-container #feature-name:after{
	content: '';
	z-index: 1000;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(85, 85, 85, 0.8) transparent transparent transparent;
}
